body {
    font-family: Helvetica, sans-serif;
}

.searchbox {
    height: 60px; 
    width: 550px; 
    margin-left: auto; 
    margin-right: auto;
    background: #3F3D3C;
    display: grid;
    grid-template-columns: 30px auto 70px 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto; 
    margin-bottom: auto;
}
